.text-con {
  margin-bottom: 20px;
  display: flex;
  /* width: 300px; */
}
.title {
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: start;
  width: 100%;
  /* font-size: small; */
}
.des {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 8px;
  font-size: small;
  color: gray;
}
/* width: 300px; */
.s2-con-title {
  display: flex;
  width: 300px;
  flex-direction: column;
  /* margin-left: 10px; */
  /* justify-content: ; */
  align-items: center;
}

.icon {
  color: #dd122d;
}
