.text-size {
  width: 100%;
}
.text-con {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
}
.title {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: start;
  width: 100%;
  font-size: 20px;
}
.des {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 8px;
  font-size: 17px;
  color: gray;
}

.s2-con-title {
  display: flex;
  width: 370px;
  flex-direction: column;
  /* margin-left: 10px; */
  /* justify-content: ; */
  /* align-items: center; */
  margin-left: 18px;
}

.icon {
  color: #dd122d;
  /* margin-right: 20px; */
}
