.footer {
  display: flex;
  /* width: 100%; */
}
.logo {
  display: flex;
  flex: 2;
}

.solution {
  display: flex;
  flex: 1;
}
.about {
  display: flex;
  flex: 1;
}
.recourse {
  display: flex;
  flex: 1;
}
