.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  /* width: 100%; */
}
.logo {
  display: flex;
  flex: 2;
}

.solution {
  display: flex;
  /* flex: 1; */
}
.about {
  display: flex;
  /* flex: 1;/ */
}
.recourses {
  display: flex;
  /* flex: 1; */
}
