.footer {
  display: flex;
  width: 100%;
}
.logo {
  display: flex;
  width: 100%;
  flex: 2;
}

.solution {
  display: flex;
  width: 100%;
  flex: 1;
}
.about {
  display: flex;
  width: 100%;
  flex: 1;
}
.recourse {
  display: flex;
  width: 100%;
  flex: 1;
}
