.home {
  padding-left: 144px;
  padding-right: 144px;
  font-family: 'Roboto', sans-serif;
}
.custom-font-size-p {
  font-size: 17px;
}
.custom-max-width {
  max-width: 570px;
}
.custom-gap {
  gap: 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.se5-img {
  height: 338px;
  width: 504px;
}
.se6-img {
  height: 431px;
}
.se7-img {
  width: 504px;
  height: 334px;
}
.se2-img {
  height: 354px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-se {
  margin-top: 100px;
}
.f-32 {
  font-size: 32px;
}
.f-17 {
  font-size: 17px;
}
.se4-img {
  height: 359px;
}
/* .s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.s1-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 80px;
}

.se3-img {
  height: 385px;
}


.s1-p {
  width: 500px;
  text-align: center;
  font-size: 17px;
}
.s2,
.s3 {
  width: 100%;
  flex-direction: row;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.s4 {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.des-s4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.s4-title {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 0px;
  margin-top: 16px;
}
.s4-des {
  margin-top: 10px;
  width: 550px;
  font-size: 17px;
}
.s4-content {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.s5-p {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.s6-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.s6-p {
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}
.s6-des {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 40px;
  width: 400px;
}


span {
  flex: 1;
} */
.s3-img,
.s4-img {
  flex: 1;
  /* height: 400px; */
  object-fit: contain;
  max-width: 50%;
  padding: 20px;
}
.s5-p {
  /* /* font-weight: bold; */
  font-size: 32px;
  /* margin-bottom: 30px; */
}
.mt-100 {
  margin-top: 100px;
}
