.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
}
.nav {
  display: flex;
}
.links {
  display: flex;
  /* margin-left: 50px; */
}
.link-con {
  display: flex;
  margin-left: 30px;
  text-decoration: none;

  /* text-underline-offset: none; */
}
.pages {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.btn-con {
  display: flex;
  margin-left: 30px;
}
.btn {
  margin-left: 30px;
  background-color: white;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
